body {
  background: #eaeaea;
  color: #999;
  font: 400 16px/1.5em sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-family: "Arial";
  color: black;
}

nav {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-right: none;
  width: 100%;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: black;
}

nav {
  display: table;
  table-layout: fixed;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
    flex-grow: 1;
}

.x {
  display: none;
}

.p {
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  color: #f0f0f0
}

.d {
  color: #ccc;
}

@media (max-width: 430px) {
  
  ul {
    display: block;
  }

  nav {
    font-size: .8em;
  }
  
  nav ul li {
    display: block;
    border-bottom: 1px solid #ccc;
  }

}