<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='basestyle.css') }}">
  </head>
  

  <body>
    <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/bookshelf">My Bookshelf</a></li>
      <li><a href="/explore">Explore</a></li>
      <li><a href="/register">Sign Up</a></li>
      <li><a href="/logout">Sign Out</a></li>
     <!--  <li><a href="/about">About</a></li> -->
    </ul>
    </nav>
    {% block content %}{% endblock %}
    </div>
  </body>
</html>