{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title", align="center">Currently reading</h2>
      </div> 
      {{forms.display_books(unread_books)}}
    </div>
  </div>

  <div class="col-md-8">
  	<div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title", align="center">Already Read</h2>
      </div> 
      {{forms.display_books(read_books)}}
    </div>
  </div>

{% endblock %}