{% macro login_form(form) %}
    <h3 class="h3">Login</h3><hr/>
        <form action="{{ url_for('login') }}" method="POST">
       
          <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control", type="email", id='Email')}}
            
          </div>

          <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control", type="password", id="Password")}}            
          </div>

          {{form.submit(class="btn btn-primary", id="Submit")}}
           
          <span class="pull-right">
            {{form.remember_me.label}}
            {{form.remember_me(type="checkbox")}}
          </span>

          {{ form.csrf_token }}
        </form>
{% endmacro %}

{% macro addBook(current_form) %}
        <div class="form-group">
          {{current_form.title.label}}
          {{current_form.title(class="form-control")}}
        </div>
        <div class="form-group">
          {{current_form.author.label}}
          {{current_form.author(class="form-control")}}
        </div>                 
{% endmacro %}

{% macro display_books(books) %}
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Author</th> 
        <th>Rating</th>
        <th>Review</th>
      </tr>  
      {% for b in books %}
            <tr>
              <td>{{ b.book.title }}</td>
              <td>{{ b.book.author }}</td> 
              <td>{{ b.book_rating }}</td>
              <td>{{ b.book_review }}</td>
            </tr>  
    {% endfor %}
     </table>
  </div>
{% endmacro %}
