{% macro login_form(form) %}
    <h3 class="h3">Login</h3><hr/>
        <form action="{{ url_for('login') }}" method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control", type="email", id='Email')}}
            
          </div>

          <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control", type="password", id="Password")}}            
          </div>

          {{form.submit(class="btn btn-primary", id="Submit")}}
           
          <span class="pull-right">
            {{form.remember_me.label}}
            {{form.remember_me(type="checkbox")}}
          </span>
        </form>
{% endmacro %}

{% macro addBook(current_form) %}
        <div class="form-group">
          {{current_form.csrf_token }}
          {{current_form.title.label}}
          {{current_form.title(class="form-control")}}
          {{current_form.author.label}}
          {{current_form.author(class="form-control")}}
        </div>                 
{% endmacro %}

{% macro display_books(books) %}
  <div class="list-group text-center">
    {% for b in books %}
    <a href="#" class="list-group-item">
      <h6 class="list-group-item-heading"> {{b.title}} by {{ b.author }}</h6>          
    </a>      
    {% endfor %}
  </div>
{% endmacro %}
