{% extends "base.html" %}
{% import "forms.html" as forms %}
{% block content %}
<div class='container'>
  <div class="row">
    <div class="col-md-4">
      {% if 'email' not in session %}
      	{{forms.login_form(loginform)}}
      {% else %}
        <h3 class="h3 text-center">Currently reading</h3>
        <form action="/bookshelf" method="POST">
        	{{ forms.addBook(unread_book_form) }}
          <div class="form-group">
            {{ unread_book_form.submit(class="btn btn-primary")}}
          </div>
          {{ unread_book_form.csrf_token }}
        </form>
        
        <h3 class="h3 text-center">Already read</h3>
        <form action="/bookshelf" method="POST">
          {{ forms.addBook(read_book_form) }}
          <!-- Rating dropdown -->
          {{ read_book_form.rating.label}}
          {{ read_book_form.rating }}
          
          <div class="form-group">
            <h4 class="h4 text center">Add your review</h4>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            {{ read_book_form.submit(class="btn btn-primary")}}
          </div>
          {{ read_book_form.csrf_token }}
        </form>
      {% endif %}
    </div>
    <div class="col-md-8">
      <h3 class="h3 text-center">Recent Books</h3> 
      <div class="list-group text-center" id="articles">
        <a href="#" class="list-group-item">Cras justo odio</a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}